---
layout: markdown_page
title: Ops Section
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

...

## Mission

...

The Ops section is responsible for developing products in the following teams:

* [Configure Orchestration Backend Team](/handbook/engineering/development/ops/configure/orchestration/)
* [Configure System Backend Team](/handbook/engineering/development/ops/configure/system/)
* [Configure Frontend Team](/handbook/engineering/development/ops/configure-fe/)
* [Monitor Stage Team](/handbook/engineering/development/ops/monitor/)
* [Monitor:APM Group](/handbook/engineering/development/ops/monitor/apm/)
* [Monitor:Health Group](/handbook/engineering/development/ops/monitor/health/)


## Team Members

The following people are permanent members of the [Blank] Section:

<%
DEPARTMENTS = ['Configure', 'Monitor', 'Serverless']
DEPARTMENT_REGEXP = /(#{Regexp.union(DEPARTMENTS)})/
%>

<%=  direct_team(role_regexp: DEPARTMENT_REGEXP, manager_role: 'Director of Engineering, Ops') %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Ops/, direct_manager_role: 'Engineering Manager, Ops') %>

## Common Links

 * Issue Tracker
 * Slack Channel
 * ...

## How to work with us

#### Week-in-Review

The Ops Section puts together a week-in-review which is an aggregate of the team's geekbot responses on how the week
has been (What went well, What could have gone better, Kudos, Metrics). This is done in collaboration with
the Ops Section stable counterparts. *Everyone can contribute* and the content of [the document](https://docs.google.com/document/d/1aHsDYv0yiZc_AXMIAYuOsNmxcfzFbTy68C1TJUBeWc0/edit) are sent out
at the end of the week. This is not a replacement for the [engineering week-in-review](https://docs.google.com/document/d/1Oglq0-rLbPFRNbqCDfHT0-Y3NkVEiHj6UukfYijHyUs/edit) which is required reading. Important items from the Ops WIR must be duplicated there if they apply to the broader group.
